/*MAIN HEADER*/
#main-header{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*END OF MAIN HEADER*/

/*HEADER BACKGROUND*/
#header-background{
    background-image: url('../Portfolio-Images/UP.jpg');
    background-position: center center;
    block-size: 150px;
}
/*END OF HEADER BACKGROUND*/

/*WEBSITE BACKGROUND*/
body{
    background-image: url('../Portfolio-Images/Cloud-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.content{
    background: white;
    width: 70%;
    padding: 30px;
    margin: 100px auto;
}
/*END OF WEBSITE BACKGROUND*/

/*CONTAINER HEADER*/
.container h1{
    width: 50%;
}
/*END OF CONTAINER HEADER*/

/*CONTAINER*/
.container{
    text-align: center;
    margin: auto;
    overflow: hidden;
    font-size: 16px;
}
/*END OF CONTAINER*/

/*NAVBAR*/
#navbar{
    background-color: salmon;
}

#navbar ul{
    text-align: center;
    padding: 25px;
}

#navbar li{
    display: inline;
    padding: 20px;
}

#navbar a{
    color: #fff;
    font-size: 18px;
}

/*BUTTONS*/
#navbar a:hover{
    color:#000;
}

#navbar a:active{
    color:greenyellow;
}
/*END OF NAVBAR*/

/*CENTERING TEXT*/
h1{
    text-align: center;
}

p{
    text-align: center;
    margin: 50px;
    font-size: 20px;
}

div{
    text-align: center;
    font-size: 20px;
}
/*END OF CENTERING TEXT*/

/*"ABOUT-PAGE TEXT*/
.About{
    text-align: left;
}
/*END OF ABOUT-PAGE TEXT*/

/*FOOTER*/
#main-footer{
    background:#333;
    color:#fff;
    text-align:center;
    padding:1px;
}
/*END OF FOOTER*/